td{
  height: 150px;
  width: 150px;
  text-align: center;
  /*padding: 100px;*/
  border: 5px solid black;
  font-size: 100px;
  background-color: white;
}

.jumbotron{
  background-color: #E4FDE1;
}


#b:hover{
  font-size: 0.9em;
}

body{
  background-color: #d65261;
}

 /* -----  small screen ----- */

 @media (max-width:650px){
   td{
     height: 120px;
     width: 120px;
     font-size: 80px;
   }
 }
